body	{

}

#wrapper	{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header	{
	background-color: #FFFF00;
}

header img	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}

header nav	{
	background-color: #00FF00;
	padding: 0.1em 0;
}

header ul	{
	padding-left: 0;
}

header li	{
	list-style-type: none;
	display: inline;
	padding: 1em;
}

header a	{
	text-decoration: none;
}

#loginForm	{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF0000;
}

#login	{
	width: 60%;
	padding: 2em 0;
	margin-top: 8em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8em;
}

#login label	{
	display: block;
}

#login button	{
	margin-top: 0.5em;
}

footer	{
	background-color: #FF00FF;
}

footer p	{
	padding-left: 1em;
	padding-top: 1em;
}

footer ul	{
	padding: 0.5em 1em;
}

footer li	{
	display: inline;
}

footer img	{
	height: auto;
	max-width: 60px;
}